<header>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="content">
                    <div class="logo">
                        <img src="assets/images/logo.png">
                    </div>
                    <div class="service-title d-inline mx-3">
                        <img class="icons" src="assets/images/icon_header.png">
                        <span class="text-white fs-5 m-2">Service Catalog</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="login content">
                    <span class="text-white fs-5 m-2">login</span>
                    <img class="icons" src="assets/images/login.png">
                </div>
            </div>
        </div>
    </div>
</header>