$body-color: #F5F7F9;
$dark-blue : #1E416B;
$light-shadow : #c1c0c0;
$bg-white : #fff;
$hight-size-5 : 5rem;
$hight-size-6 : 6rem;
$hight-size-4 : 4rem;
$hight-size-15 : 15rem;
$width-size-16 : 16rem;
$width-size-4 : 4rem;
$width-size-10 : 10rem;
$width-size-2 : 2rem;
$hight-size-2 : 2rem;
$border-radius-10 : 10px
